name: Run Upload Daily Script

on:
  schedule:
    - cron: "0 13 * * *"   # Runs everyday at 1pm utc (6pm pk time)
  workflow_dispatch:      # Allows manual trigger
  push:
    branches:
      - main

jobs:
  run-script:
    runs-on: ubuntu-latest
    env:
      private_key_json: ${{ secrets.PRIVATE_KEY_JSON }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"   # or your version

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      
      - name: Run Python Script
        run: |
          python generate_sme.py
